*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main img{
    width: 100%;
    height: 100vh;
}

.main h2{
    position: absolute;
    top: 30%;
    left: 5%;
    color: white;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.main h5{
    position: absolute;
    top: 40%;
    left: 5%;
    color: white;
    font-size: 30px;
    font-style: italic;
    font-family:'Times New Roman', Times, serif

}

.items {
    margin: 2%;
}

.card-title{
    text-align: center;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}


.contact h3{
    margin-left: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact h5{
    margin-left: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.form-label{
    margin-left: 1%;
}

.form-control{
    margin-left: 1%;
}

#buttonFinal{
    margin-left: 1%;
}


.footer{
    margin-top: 5%;
    width: 100%;

}

.carrito-compras svg{
    margin: 15px;
}

.carrito-compras .buttonCar{
    width: 80px;
    background-color: rgb(109, 109, 206);
    height: 80px;
    position: fixed;
    bottom: 40px;
    right: 20px;
    border-radius: 150px;
    color: white;
    border: 0px;

}