
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.contenedor{
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2{
    font-family: sans-serif;
    font-size: 25px;
    margin-bottom: 40px;
}


button{
    width: 100px;
    height: 40px;
    outline: none;
    border: none;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}